.header
  color #fff;
  padding 10px 0
  -webkit-transition all 0.2s ease-in-out
  -moz-transition all 0.2s ease-in-out
  -o-transition all 0.2s ease-in-out
  -ms-transition all 0.2s ease-in-out
  transition all 0.2s ease-in-out
  background-color rgba(0,0,0,0.1)

.logo
  margin 10px 10px 10px 0
  -webkit-transition all 0.3s ease-in-out
  -moz-transition all 0.3s ease-in-out
  -o-transition all 0.3s ease-in-out
  transition all 0.3s ease-in-out

.logo,.title-subtitle
  float left

.title
  font-size 36px
  -webkit-transition all 0.3s ease-in-out
  -moz-transition all 0.3s ease-in-out
  -o-transition all 0.3s ease-in-out
  -ms-transition all 0.3s ease-in-out
  transition all 0.3s ease-in-out
  a
    color #fff
    &:hover
      text-decoration none
      color #fff
  font-family font-sitename

.subtitle
  font-size 12px
  a
    color #fff
    &:hover
      text-decoration none
      color #fff

.header,.navbar
  margin-bottom 0

.main-navigation,.navbar-default
  background-color transparent
  border none

.main-navigation,.navbar-default,
.navbar-nav >
  li >
    &:active >
      color #55acee
      a
        background-color transparent
        color #55acee
        &:hover
          color #55acee
    a
      color #fff!important
      padding 10px 20px
      font-size 18px
      font-weight 300
      &:hover
          color #55acee
